
body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}


.container{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}

input, button{
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
}


button{
    background: #4caf50;
    border: none;
    color: #fff;
    cursor: pointer;
}

 button:hover{
    background: #45a049;
} 



.toast{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.toast.show{
    opacity: 1;
}

.toast.hidden{
    opacity: 0;
}