
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background: #f8f5f0;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #6b4226;
    color: #fff;
    top: 0;

}

.logo{
    font-size: 1.6em;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover{
    color: rgb(205, 239, 113);

}

.burger-btn{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger-btn .line{
    width: 25px;
    height: 3px;
    background: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-links{
    position: absolute;
    top: 60px;
    right: 0;
    background: #6b4226;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
    
}

.nav-links.active{
    display: flex;
}

.burger-btn.active .line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-btn.active .line:nth-child(2){
    opacity: 0;
}

.burger-btn.active .line:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
}


.hero{
    padding: 80px 20px;
    text-align: center;
    background: #e2c9a5;
}

.hero h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #6b4226;
}

.hero p{
    font-size: 1.1em;
}

.content{
    padding: 40px 20px;
    text-align: center;
}

.content h2{
    font-size: 2em;
    margin-bottom: 15px;
    color: #6b4226;
}

.content-img{
    margin-top: 20px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}