body{
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

#myForm{
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2{
    margin-bottom: 15px;
    text-align: center;
    columns: #333;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus{
    outline: none;
    border-color: #1e90ff;
    box-shadow: 0 0 4px rgba(30, 144, 255, 0.4);
}

.message{
    color: #080;
    font-size: 18px;
    margin: 0;
}
button{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


button:hover{
    background: #187bcd;
}